[data-tab-content]{
    display: none;
}

.active[data-tab-content]{
    display: block;
}
.tabs{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}
.tab{
    cursor: pointer;
    padding: 10px;

}
.tab:hover{
    background-color: black;
    color: white;
}

* {
    padding: 0;
    margin: 0;
  }

body{
    font-family: poppins;
  }
.header{
    display: flex;
    justify-content: space-between;
    margin-right: 40px;
    margin-left: 40px;
    align-items: center;
  }

.logo{
    cursor: pointer;
    width: 100px;
    height: 28px;
    
    
  }


.man{
    height: 550px;
    width: 30%;
    
}
.secend{
    display: flex;
    margin: 15PX;
    margin-left: 40px;
    margin-right: 40px;
    display: flexbox;
}
section div hr{
    height: 5px; 
    width: 60px; 
    margin-left: 48px; 
    margin-top: 10px; 
    background: black;
    border: 0;
    opacity: 100%;
    
}

.name-part{
    background: #F6FBFF;
    width: 70%;
    height: 550px;
    overflow: hidden;
    overflow-wrap: scroll;
}
.head-text{
    font-weight: bold;
    font-size: 54px;
    margin-top: 130px;
    margin-left: 45px;
    text-transform: uppercase;
    color: #333333;
}

.btn{
    margin-left: 45px;
    margin-top: 30px;
    font-size: 15px;
    font-weight: medium;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #333333;
    color: white;
    font-family: poppins;
    border: 0;
}
.btn:hover{
    background-color: #F6FBFF;
    border: 2px solid #333333;
    color: #333333;
}
.wrapper{
    display: flex;
    margin-top: 30px;
  }

  .wrapper .static-txt{
    color: #888495;
    font-size: 23px;
    font-weight: 400;
    margin-left: 45px;
    
  }
 .wrapper .dynamic-txts{
    line-height: 34px;
    height: 34px;
    overflow: hidden;
    padding-left: 8px;
  }
 .dynamic-txts li{
    color: #333333;
    font-size: 23px;
    font-weight: 500;
    position: relative;
    top: 0;
    animation: slide 9s steps(3) infinite;
  }
  @keyframes slide{
    100%{
        top: -100px; 
    }
  }
  .dynamic-txts li span::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: #F6FBFF;
    border-left: 2px solid #333333;
    animation: typing 3s steps(10) infinite;
  }
  @keyframes typing {
    40%, 60%{
      left: calc(100% + 30px);
    }
    100%{
      left: 0;
    }
  }
  .about-me{
    display: flex;
    margin-top: 50px;
    margin-left: 45px;
    margin-right: 45px;
    color: #7d7789;
    font-size: 15px;
    line-height: 25px;
    font-family: 'Open Sans';
    
  }
  .about-me img{
    width: 10px;
    height: 10px;
    margin-right: 15px;
    opacity: 50%;
  }
  .about-head{
    margin-left: 45px;
    letter-spacing: 5px;
    color: #333333;
    font-family: 'poppins';
    font-size: 15px;
    font-style: bold;
  }
  .line-about{
    height: 2px;
    width: 70%;
    background-color: #7d7789;
    margin-left: 10PX;
  }
  .line-hight{
    display: flex;
    margin-top: 90px;
  }
  .services-head{
    margin-left: 45px;
    letter-spacing: 5px;
    color: #333333;
    font-family: 'poppins';
    font-size: 15px;
    font-style: bold;
  }

  .footer-text{
    margin-left: 40px;
    font-size: 15px;
  }
  footer{
    display: flex;
    justify-content: space-between;
  }
  footer img{
    width: 18px;
    height: 18px;
    margin-right: 10px;  
  }
  .footer-nav{
    margin-right: 40px;
  }
  .programming {
    margin-top: 50px;
    margin-left: 45px;
    
  }
  